body{
    background-color: black;
    color: white;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}
.graph{
    display: flex;
    flex-direction: column;
    transform: rotate(-90deg) translateX(-100%);
    transform-origin: top left;
    gap: 0px;
    width: 300px;
    padding: 10px;
    overflow: visible;
}


.data{
    background-color: transparent;
    /* position: fixed; */
    /* top: 10px; */
    /* left: 10px; */
    z-index: 2;
}

.graph progress {
    height: 3px;
}
.graph.small progress {
    height: 2px;
}
.graph.smallest progress {
    height: 1px;
}



progress{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    border: 0;
    width: 100%;
    display: block;
    outline: none;
    padding: 0;
    overflow: visible;
    position: relative;
}
::-webkit-progress-bar{
    background-color: transparent;

}

body ::-moz-progress-bar{
    background-color: white;
    position: relative;
}

body.colors ::-moz-progress-bar{
    background-color: transparent;
}
body.colors ::-webkit-progress-value{
    background-color: transparent;
}
body ::-webkit-progress-value{
    background-color: white;
}

body:not(.dots) .red{
    background-color: hsl(0, 100%, 20%)!important;
}
body:not(.dots) .red::-moz-progress-bar{
    background-color: hsl(0, 100%, 50%)!important;
}
body:not(.dots) .red::-webkit-progress-value{
    background-color: hsl(0, 100%, 50%)!important;

}

.green::-moz-progress-bar{
    background-color: lime!important;
}
.green::-webkit-progress-value{
    background-color: lime!important;
}

::-moz-progress-bar::after{
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    width: 5px;
    height: 5px;
    background-color: red;
}

body.dots ::-moz-progress-bar{
    border-right: 2px solid white;
}
body.dots .red::-moz-progress-bar{
    border-right: 2px solid red!important;
}


body.dots ::-moz-progress-bar{
    background-color: transparent;
}

body.dots .graph ::-moz-progress-bar {
    border-right: 3px solid white!important;
}
body.dots .graph.small ::-moz-progress-bar {
    border-right: 2px solid white!important;
}
body.dots .graph.smallest ::-moz-progress-bar {
    border-right: 1px solid white!important;
}
body.dots .graph .red::-moz-progress-bar {
    border-right: 3px solid red!important;
}
body.dots .graph.small .red::-moz-progress-bar {
    border-right: 2px solid red!important;
}
body.dots .graph.smallest .red::-moz-progress-bar {
    border-right: 1px solid red!important;
}