body{
    background-color: black;
    color: white;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}
.graph{
    display: flex;
    flex-direction: column;
    transform: rotate(-90deg) translateY(100%);
    transform-origin: bottom left;
    gap: 0px;
    pointer-events: none;
    width: 300px;
    position: absolute;
    bottom: 10px;
    left: 300px;
    padding-bottom: 10px;
}


.data{
    background-color: transparent;
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 2;
}

.graph progress {
    height: 3px;
}
.graph.small progress {
    height: 2px;
}
.graph.smallest progress {
    height: 1px;
}

progress{
    background-color: transparent;
    border: 0;
    width: 100%;
    display: block;
    outline: none;
    padding: 0;
}
::-webkit-progress-bar{
    background-color: transparent;

}

body ::-moz-progress-bar{
    background-color: white;
}
body.colors ::-moz-progress-bar{
    background-color: transparent;
}
body.colors ::-webkit-progress-value{
    background-color: transparent;
}
body ::-webkit-progress-value{
    background-color: white;
}

.red{
    background-color: hsl(0, 100%, 20%)!important;
}
.red::-moz-progress-bar{
    background-color: hsl(0, 100%, 50%)!important;
}
.red::-webkit-progress-value{
    background-color: hsl(0, 100%, 50%)!important;

}

.green::-moz-progress-bar{
    background-color: lime!important;
}
.green::-webkit-progress-value{
    background-color: lime!important;
}