body{
    background-color: black;
    color: white;
}
.graph{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    transform: rotate(-90deg) scale(2);
    transform-origin: top right;
    gap: 0px;
    pointer-events: none;
    width: 150px;
    padding-bottom: 100px;
    padding-left: 100px;
    margin-top: 400px;
}

.data{
    background-color: transparent;
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 2;
}

progress{
    background-color: transparent;
    height: 1px;
    border: 0;
    width: 100px;
    display: block;
}
::-webkit-progress-bar{
    background-color: transparent;

}

body.colors ::-moz-progress-bar{
    background-color: transparent;
}
body.bars ::-moz-progress-bar{
    background-color: white;
}
body.colors ::-webkit-progress-value{
    background-color: transparent;
}
body.bars ::-webkit-progress-value{
    background-color: white;
}

.red{
    background-color: hsl(0, 100%, 20%);
}
.red::-moz-progress-bar{
    background-color: hsl(0, 100%, 50%)!important;
}
.red::-webkit-progress-value{
    background-color: hsl(0, 100%, 50%)!important;

}

.green::-moz-progress-bar{
    background-color: lime!important;
}
.green::-webkit-progress-value{
    background-color: lime!important;
}